<header>
    <div class="logo">
        <h1>tailwebs.</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>Mark</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="avatar">S</span> Sean Abot</td>
                <td>Maths</td>
                <td>77</td>
                <td><input type="radio" name="select"></td>
            </tr>
            <tr>
                <td><span class="avatar">S</span> Shawn Tate</td>
                <td>English</td>
                <td>72</td>
                <td><input type="radio" name="select"></td>
            </tr>
            <tr>
                <td><span class="avatar">S</span> Shivam</td>
                <td>Physics</td>
                <td>78</td>
                <td><input type="radio" name="select"></td>
            </tr>
            <tr>
                <td><span class="avatar">M</span> Mitchelle</td>
                <td>Maths</td>
                <td>78</td>
                <td><input type="radio" name="select"></td>
            </tr>
            <tr>
                <td><span class="avatar">S</span> Shiv Yadav</td>
                <td>Chemistry</td>
                <td>80</td>
                <td><input type="radio" name="select"></td>
            </tr>
            <tr>
                <td><span class="avatar">S</span> Shiv Yadav</td>
                <td>Hindi</td>
                <td>76</td>
                <td><input type="radio" name="select"></td>
            </tr>
            <tr>
                <td><span class="avatar">S</span> Shiv Yadav</td>
                <td>Physics</td>
                <td>77</td>
                <td><input type="radio" name="select"></td>
            </tr>
        </tbody>
    </table>

    <div class="add-button">
        <button>Add</button>
    </div>
</div>
